my_robot_dataset/



xiaozhi-esp32-2.2.3/tmp/
xiaozhi-esp32-2.2.3/components/
xiaozhi-esp32-2.2.3/managed_components/
xiaozhi-esp32-2.2.3/build/
xiaozhi-esp32-2.2.3/dist/
xiaozhi-esp32-2.2.3/.vscode/
xiaozhi-esp32-2.2.3/.devcontainer/
xiaozhi-esp32-2.2.3/sdkconfig.old
xiaozhi-esp32-2.2.3/sdkconfig
xiaozhi-esp32-2.2.3/dependencies.lock
xiaozhi-esp32-2.2.3/.env
xiaozhi-esp32-2.2.3/releases/
xiaozhi-esp32-2.2.3/main/assets/lang_config.h
xiaozhi-esp32-2.2.3/main/mmap_generate_emoji.h
xiaozhi-esp32-2.2.3/.DS_Store
xiaozhi-esp32-2.2.3/.cache
xiaozhi-esp32-2.2.3/*.pyc
xiaozhi-esp32-2.2.3/*.bin
xiaozhi-esp32-2.2.3/mmap_generate_*.h
xiaozhi-esp32-2.2.3/.clangd